name: Build
on:
  pull_request:
  push:
      branches:
      - main
jobs:
  meta-data:
    runs-on: ubuntu-latest
    steps:      
      - name: Get Source Code
        uses: actions/checkout@v2
      # print branch name
      - name: Get branch name
        id: get_branch
        shell: bash
        run: |
          branch=$(echo ${GITHUB_REF#refs/heads/})
          echo outer $branch
          if [ ${{ github.event_name == 'pull_request' }} ]
          then
            branch=$(echo "${GITHUB_HEAD_REF}")
            echo inner $branch         
          elif [ ${{ github.event_name == 'push' }} ]
          then            
            branch=$(echo "${GITHUB_REF#refs/heads/}")
            echo inner $branch
          fi
          echo final $branch
          echo "::set-output name=BRANCH_NAME::$branch"
  
      # extract branch name
      - name: Branch name for push
        if: github.event_name != 'pull_request'
        shell: bash
        run: echo "::set-output name=BRANCH_NAME::$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch

      # extract branch name on pull request
      - name: Branch name for PR
        if: github.event_name == 'pull_request'
        run: echo "::set-output name=BRANCH_NAME::$(echo ${GITHUB_HEAD_REF})"
        id: extract_pr_branch

      # extract branch name on pull request
      - name: Print branch name        
        run: |          
          echo Branch name is ${{ steps.get_branch.outputs.BRANCH_NAME }}
          echo Push branch ${{ steps.extract_branch.outputs.BRANCH_NAME }}
          echo PR branch ${{ steps.extract_pr_branch.outputs.BRANCH_NAME }}         

   
  build:
    runs-on: ${{ matrix.os }}
    strategy:        
        matrix:
          os: [windows-latest, ubuntu-latest]
    steps:
        - name: Get Source Code
          uses: actions/checkout@v2
        - name: Restore Dependencies
          run: npm ci
        - name: Build
          run: npm run all
